.section-black {
  background-color: #000;
  padding-bottom: $space-large;
  padding-top: $space-large;
  position: relative;

  h2,
  h3,
  h4,
  p {
    color: #fff;
  }
}

.section-black__dec {
  bottom: -130px;
  max-width: 300px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  
  @include query(992px) {
    max-width: 400px;
  }
}