.image-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    padding: 32px 16px 16px 19px;
    border-radius: 50%;
}