input,
textarea {
  background-color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-family: $font-base;
  display: block;
  padding: 10px 0;
  margin: 5px 0 $space-out-medium 0;
  width: 100%;

  &:placeholder {
    color: #9c9c9c;
  }
}

input {
  border-bottom: 1px solid #dadada;
  &:focus-visible {
    outline: none;
    border-bottom: 1px solid $color-dark;
  }
}

textarea {
  border: 1px solid #dadada;
}

label {
  text-transform: uppercase;
  font-size: $font-size;
  font-weight: 700;
}

input[type="submit"] {
  border: 2px solid #000000;
  border-radius: $radius-tertiary;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px 40px;
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 0 $space-out-small $space-out-medium 0;
  width: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.footer {
  .news-letter {
    position: relative;

    &::after {
      background-image: url(../../../pages/images/send.png);
      background-repeat: no-repeat;
      content: "";
      height: 18px;
      right: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
    }
  }

  input {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 8px 50px 8px $space-base;
    border-radius: $radius-principal;
    border-bottom: none;
    position: relative;

    &::placeholder {
      color: #fff;
    }
  }
}
